#game {
    position: relative;
}
.game-element {
    position: absolute;
    background-color: #000;
    width: 20px;
    height: 20px;
}

.fruit {
    background-color: red;
}

.fruit-age-0,
.fruit-age-1 {
    background-color: green;
}

.fruit-age-9,
.fruit-age-10 {
    background-color: brown;
}

.score {
  width: inherit;
  height: inherit;
  background-color: transparent;
}
